<div class="container">
    <div class="card">
        <h2>My Profile</h2>
        <h3>{{ myFb.name }}</h3>
        <h3>{{ myFb.age }}</h3>
        <h3>{{ myFb.profession }}</h3>
        <img [src]="myFb.profil" [alt]="myFb.name">
        <h3>{{myFb.sex}}</h3>
        <!-- <a href="https://github.com/Subhi-DaJava?tab=repositories"><button>{{ button }}</button></a> -->
        <!-- <h4>Like my profile {{ myFb.like }}</h4> -->
        <!-- <h4 (click)="onLike()">Like my profile {{myFB.like}}</h4> -->
    
    </div>
</div>

