<div class="container">
    <h1>Afficher les données venant du typeSricpt dans le template, double accolades le nom de la varibale/propriété remplacé par sa valeur ou contenu de la propriété.</h1>
    <h4>Interpolation</h4>
    <p>La string interpolation est la méthode la plus simple pour afficher le contenu d'une variable dans le template. Il suffit de mettre le nom de la variable à afficher entre doubles accolades dans le HTML. Angular remplace la variable entre doubles accolades par sa valeur </p>
    <h4>Objectif de l'app</h4>
    <p>L'objectif de l'application Snapface est de partager des images. Il nous faut donc un moyen d'afficher dynamiquement des images ! L'approche dans ce genre de cas sera souvent que le serveur renvoie l'URL de l'image à afficher. Il nous faut donc un moyen de lier cette URL dynamique à l'attribut  src  d'une balise <img> : attribute binding !</p>
    <h4>Afficher face Snap</h4>

    <div class="face-snap-card">
        <h2>{{ faceSnap.title }}</h2>
        <h3>{{ faceSnap.description }}</h3>
        <p>Là, Angular associe les valeurs des propriétés TypeScript aux attributs de l'élément HTML</p>
        <p *ngIf="faceSnap.location" style="color: red;">Photo prise à {{ faceSnap.location }}</p>
        <!-- <p *ngIf="faceSnap.location === 'Paris'" style="color: red;">Photo prise à {{ faceSnap.location }}</p> -->
        <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title"> 
        <p>Mis en ligne: {{ faceSnap.createDate }}</p>
        <h4>Snap ou non Snap!</h4>
        <p><button (click)="onSnap()" [ngStyle]="{color: 'rgb(0, 0, ' + faceSnap.snaps/3 + ')'}"> {{ buttonText }}</button> <!--On utilise bien  (click)  et non  (onclick)  car on veut réagir à l'événement qui s'appelle "click" !-->
            <span [ngStyle]="{color: 'rgb(0, ' + faceSnap.snaps/2 + ', 0)'}">Emoji : {{ faceSnap.snaps }}</span> </p>
    </div>
    <p>Ça y est ! La fonctionnalité est terminée : vous avez réussi à réagir à un événement venant du template, et à exécuter un comportement conditionnel, tout en vous servant de la string interpolation pour afficher le résultat et pour rendre dynamique le texte du bouton !</p>
    <p>Si l'utilisateur a déjà "snapped" une image, le texte du bouton doit être "Oops, un Snap!", et cliquer dessus doit "retirer" le snap (réduire les snaps de 1), auquel moment le bouton réaffiche "Oh Snap!", et retrouve son comportement d'origine.</p>
    <h4>Déclaration des propriétés</h4>
    <div class="resume-card">
        On déclare les propriétés d'un component en haut de sa classe, et on les initialise dans la méthode  ngOnInit()
        La méthode  ngOnInit()  est appelée une fois par instance de component au moment de la création de cette instance.
        La string interpolation avec les doubles accolades permet d'insérer la valeur d'une propriété TypeScript dans le template.
        L'attribute binding permet de lier la valeur d'une propriété TypeScript à un attribut HTML, en mettant l'attribut entre crochets  []  et en passant le nom de la propriété.
    </div>
    <h4>instance e component</h4>
    <div class="resume-card">
        Prenons quelques instants pour noter que chaque instance d'un component est totalement indépendante. Pour le vérifier, ajoutez quelques instances supplémentaires de FaceSnapComponent, et cliquez sur leurs boutons "Oh Snap!". Vous verrez que seul le nombre de snaps pour le component où vous cliquez augmente.
        Pour lier une méthode à un événement d'un élément du template, mettez l'événement entre parenthèses  ()  et passez la méthode en argument ; ex. : (click)="onClickButton()"
    </div>
    <h4>Importer avec @Input</h4>
    <div class="resume-card">
        <h4>Injection de propriété</h4>
        <div>
            Pour qu'une propriété puisse être injectée depuis l'extérieur d'un component, il faut lui ajouter le décorateur  @Input().
            Dans app.component.ts  – le parent de FaceSnapComponent – créez une propriété de type  FaceSnap  et initialisez-la dans  ngOnInit().
            N'oubliez pas d'implémenter  OnInit  pour pouvoir utiliser  ngOnInit()  dans AppComponent !
        </div>
        <h4>attribut binding</h4>
        <div>
            Utiliser l'attribute binding pour lier cet objet à la propriété personnalisée  faceSnap  de FaceSnapComponent dans  app.component.html.
            @Input() crée comme un attribut HTML auquel on peut lier une valeur, tout comme vous l'avez fait avec l'attribut  src  de l'élément image. !
            N'hésitez pas à créer vos propres types, sous forme de classe par exemple, pour faciliter la manipulation de données dans votre application.
        </div>
      
        <h4>Propriété personnalisée</h4>
       <div>
        Une propriété personnalisée est rendue injectable depuis l'extérieur grâce au décorateur  @Input()
        Une propriété en  @Input()  est utilisable comme n'importe quelle autre propriété : on peut en afficher les éléments, les modifier… 
        On lie ensuite une valeur à cette propriété depuis le component parent avec l'attribute binding, c'est-à-dire le nom de la propriété entre crochets  []  en passant la valeur entre les guillemets ; ex. : faceSnap="mySnap"
       </div>
      
    </div>
    <br><br>
    <h2>Directive</h2>
    <div class="directiv-card">
        <h4>NgIf</h4>
        <div class="ngif">
            Une directive est une classe qui vient ajouter du comportement à l'élément sur lequel elle est posée. L'astérisque au début du nom  *ngIf nous montre qu'il s'agit d'une directive structurelle, qui viendra donc toucher à la structure du document.
            *ngIf  permet donc de structurer vos components selon les conditions que vous choisissez. 
        </div>
        <br>
        <h4>propriété optionnelle</h4>
        <div class="attribut-optionel">
            Le TypeScript nous permet d'ajouter des propriétés optionnelles aux classes, aux objets, et même des arguments optionnels aux méthodes. Je vous propose d'ajouter dès maintenant une propriété optionnelle à la classe FaceSnap, qui sera la localisation de l'image. On pourrait imaginer que les utilisateurs puissent choisir d'ajouter ou non cette localisation. Pour ajouter cette propriété optionnelle, il suffit d'utiliser un point d'interrogation.
            Ajouter la directive  *ngIf  à un élément (qui peut aussi être un component) dit à Angular d'ajouter ou non cet élément au DOM selon la condition que vous lui passez.
        </div>
        <h4>NgFor-01102022</h4>
        <div>
            Au lieu d'avoir trois variables de type FaceSnap  dans votre AppComponent, vous allez créer une seule variable qui contiendra un tableau de type FaceSnap[] et modifier votre ngOnInit() pour le remplir.
            <br>
            la directive  *ngFor  fonctionne un peu comme une boucle  for...of  , c'est-à-dire que, dans ce cas de figure, elle va itérer sur le tableau  faceSnaps  et vous exposer l'élément correspondant à chaque itération sous l'alias  faceSnap
            vous associez ensuite l'élément du tableau à la propriété  faceSnap  du component.
            <h4>En Résumé</h4>
            La directive  *ngFor  vous permet d'insérer un élément dans le DOM pour chaque élément dans un tableau.
            La syntaxe  let element of array  vous donne accès à l'élément de chaque itération, vous permettant de l'injecter dans un component, par exemple.
        </div>
        <h4>NgStyle-01102022</h4>
        <div>La fonctionnalité que je vous propose d'ajouter maintenant est que plus un FaceSnap a de "snaps", plus le nombre de "snaps" sera coloré en vert. 
        Notre objectif ici est de changer la couleur de texte du nombre de snaps en fonction du nombre de snaps – c'est parti !
        <h4>Ng-style</h4>
        Sous le capot, [ngStyle] ajoute une propriété en @Input  qui s'appelle ngStyle. La syntaxe entre crochets fonctionne comme pour la liaison par attribut (attribute binding), sauf qu'elle crée la propriété en même temps qu'elle y lie votre objet de styles. Ça fait partie des points forts de ce type de directive !
        <p>
            Bien sûr, avec cette implémentation, à partir de 255 snaps la couleur ne change plus ! Selon la sensibilité que vous souhaitez pour votre application, vous pouvez multiplier le nombre de snaps pour "accélérer" le changement de couleur, ou le diviser pour ralentir le changement.
        </p>
        <h4>Résumé</h4>
        <p>
            La directive [ngStyle] permet d'appliquer des styles qui dépendent de valeurs dynamiques, comme un texte qui, plus il y a de snaps, devient de plus en plus vert.
            La directive [ngStyle] prend comme argument un objet où les clés correspondent aux styles CSS à modifier, et les valeurs aux valeurs que doivent prendre ces styles.
        </p>
        </div>
</div>
</div>



