<div class="container">
    <h1>Afficher les données venant du typeSricpt dans le template, double accolades le nom de la varibale/propriété remplacé par sa valeur ou contenu de la propriété.</h1>
    <h4>Interpolation</h4>
    <p>La string interpolation est la méthode la plus simple pour afficher le contenu d'une variable dans le template. Il suffit de mettre le nom de la variable à afficher entre doubles accolades dans le HTML. Angular remplace la variable entre doubles accolades par sa valeur </p>
    <h4>Objectif de l'app</h4>
    <p>L'objectif de l'application Snapface est de partager des images. Il nous faut donc un moyen d'afficher dynamiquement des images ! L'approche dans ce genre de cas sera souvent que le serveur renvoie l'URL de l'image à afficher. Il nous faut donc un moyen de lier cette URL dynamique à l'attribut  src  d'une balise <img> : attribute binding !</p>
    <h4>Afficher face Snap</h4>

    <div class="face-snap-card" [ngClass]="{ snapped: buttonText === 'Opps, unSnap!' }">
        <!-- <div class="face-snap-card" [ngClass]="{ snapped: faceSnap.snaps > 400 }"> -->
        <h2>{{ faceSnap.title | uppercase }}</h2>
        <h3>{{ faceSnap.description | titlecase }}</h3>
        <p>Là, Angular associe les valeurs des propriétés TypeScript aux attributs de l'élément HTML</p>
        <p *ngIf="faceSnap.location" style="color: red;">Photo prise à {{ faceSnap.location | uppercase }}</p>
        <!-- <p *ngIf="faceSnap.location === 'Paris'" style="color: red;">Photo prise à {{ faceSnap.location }}</p> -->
        <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title"> 
        <p>Mis en ligne: {{ faceSnap.createDate | date: 'à HH:mm:ss, le d/MMMM/yyyy' }}</p>
        <h4>Snap ou non Snap!</h4>
        <p><button (click)="onSnap()"> {{ buttonText }}</button> <!--On utilise bien  (click)  et non  (onclick)  car on veut réagir à l'événement qui s'appelle "click" !-->
            <span [ngStyle]="{color: 'rgb(0, ' + faceSnap.snaps/2 + ', 0)'}">Emoji 🤞: {{ faceSnap.snaps }}</span> </p>
        <h4>Pipes Numbers</h4>
        <p>{{ 4346234.365 | number: '1.0-2' }}</p>
        <p>{{ 0.3665 | percent: '1.0-2' }}</p>
        <p>{{ 102.56 | currency: 'EUR' : 'code' }}</p> <!-- 102.56 | currency => 102,56 $US par défault et currency: 'EUR' : 'code'  => 102,56 EUR-->

    </div>
    <p>Ça y est ! La fonctionnalité est terminée : vous avez réussi à réagir à un événement venant du template, et à exécuter un comportement conditionnel, tout en vous servant de la string interpolation pour afficher le résultat et pour rendre dynamique le texte du bouton !</p>
    <p>Si l'utilisateur a déjà "snapped" une image, le texte du bouton doit être "Oops, un Snap!", et cliquer dessus doit "retirer" le snap (réduire les snaps de 1), auquel moment le bouton réaffiche "Oh Snap!", et retrouve son comportement d'origine.</p>
    <h4>Déclaration des propriétés</h4>
    <div class="resume-card">
        On déclare les propriétés d'un component en haut de sa classe, et on les initialise dans la méthode  ngOnInit()
        La méthode  ngOnInit()  est appelée une fois par instance de component au moment de la création de cette instance.
        La string interpolation avec les doubles accolades permet d'insérer la valeur d'une propriété TypeScript dans le template.
        L'attribute binding permet de lier la valeur d'une propriété TypeScript à un attribut HTML, en mettant l'attribut entre crochets  []  et en passant le nom de la propriété.
    </div>
    <h4>instance e component</h4>
    <div class="resume-card">
        Prenons quelques instants pour noter que chaque instance d'un component est totalement indépendante. Pour le vérifier, ajoutez quelques instances supplémentaires de FaceSnapComponent, et cliquez sur leurs boutons "Oh Snap!". Vous verrez que seul le nombre de snaps pour le component où vous cliquez augmente.
        Pour lier une méthode à un événement d'un élément du template, mettez l'événement entre parenthèses  ()  et passez la méthode en argument ; ex. : (click)="onClickButton()"
    </div>
    <h4>Importer avec @Input</h4>
    <div class="resume-card">
        <h4>Injection de propriété</h4>
        <div class="injection">
            Pour qu'une propriété puisse être injectée depuis l'extérieur d'un component, il faut lui ajouter le décorateur  @Input().
            Dans app.component.ts  – le parent de FaceSnapComponent – créez une propriété de type  FaceSnap  et initialisez-la dans  ngOnInit().
            N'oubliez pas d'implémenter  OnInit  pour pouvoir utiliser  ngOnInit()  dans AppComponent !
        </div>
        <h4>attribut binding</h4>
        <div>
            Utiliser l'attribute binding pour lier cet objet à la propriété personnalisée  faceSnap  de FaceSnapComponent dans  app.component.html.
            @Input() crée comme un attribut HTML auquel on peut lier une valeur, tout comme vous l'avez fait avec l'attribut  src  de l'élément image. !
            N'hésitez pas à créer vos propres types, sous forme de classe par exemple, pour faciliter la manipulation de données dans votre application.
        </div>
      
        <h4>Propriété personnalisée</h4>
       <div>
        Une propriété personnalisée est rendue injectable depuis l'extérieur grâce au décorateur  @Input()
        Une propriété en  @Input()  est utilisable comme n'importe quelle autre propriété : on peut en afficher les éléments, les modifier… 
        On lie ensuite une valeur à cette propriété depuis le component parent avec l'attribute binding, c'est-à-dire le nom de la propriété entre crochets  []  en passant la valeur entre les guillemets ; ex. : faceSnap="mySnap"
       </div>
      
    </div>
    <br><br>
    <h2>Directive</h2>
    <div class="directiv-card">
        <h4>NgIf</h4>
        <div class="ngif">
            Une directive est une classe qui vient ajouter du comportement à l'élément sur lequel elle est posée. L'astérisque au début du nom  *ngIf nous montre qu'il s'agit d'une directive structurelle, qui viendra donc toucher à la structure du document.
            *ngIf  permet donc de structurer vos components selon les conditions que vous choisissez. 
        </div>
        <br>
        <h4>propriété optionnelle</h4>
        <div class="attribut-optionel">
            Le TypeScript nous permet d'ajouter des propriétés optionnelles aux classes, aux objets, et même des arguments optionnels aux méthodes. Je vous propose d'ajouter dès maintenant une propriété optionnelle à la classe FaceSnap, qui sera la localisation de l'image. On pourrait imaginer que les utilisateurs puissent choisir d'ajouter ou non cette localisation. Pour ajouter cette propriété optionnelle, il suffit d'utiliser un point d'interrogation.
            Ajouter la directive  *ngIf  à un élément (qui peut aussi être un component) dit à Angular d'ajouter ou non cet élément au DOM selon la condition que vous lui passez.
        </div>
        <h4>NgFor-01102022</h4>
        <div>
            Au lieu d'avoir trois variables de type FaceSnap  dans votre AppComponent, vous allez créer une seule variable qui contiendra un tableau de type FaceSnap[] et modifier votre ngOnInit() pour le remplir.
            <br>
            la directive  *ngFor  fonctionne un peu comme une boucle  for...of  , c'est-à-dire que, dans ce cas de figure, elle va itérer sur le tableau  faceSnaps  et vous exposer l'élément correspondant à chaque itération sous l'alias  faceSnap
            vous associez ensuite l'élément du tableau à la propriété  faceSnap  du component.
            <h4>En Résumé</h4>
            La directive  *ngFor  vous permet d'insérer un élément dans le DOM pour chaque élément dans un tableau.
            La syntaxe  let element of array  vous donne accès à l'élément de chaque itération, vous permettant de l'injecter dans un component, par exemple.
        </div>
        <h4>NgStyle-01102022</h4>
        <div>La fonctionnalité que je vous propose d'ajouter maintenant est que plus un FaceSnap a de "snaps", plus le nombre de "snaps" sera coloré en vert. 
        Notre objectif ici est de changer la couleur de texte du nombre de snaps en fonction du nombre de snaps – c'est parti !
        <h4>Ng-style</h4>
        Sous le capot, [ngStyle] ajoute une propriété en @Input  qui s'appelle ngStyle. La syntaxe entre crochets fonctionne comme pour la liaison par attribut (attribute binding), sauf qu'elle crée la propriété en même temps qu'elle y lie votre objet de styles. Ça fait partie des points forts de ce type de directive !
        <p>
            Bien sûr, avec cette implémentation, à partir de 255 snaps la couleur ne change plus ! Selon la sensibilité que vous souhaitez pour votre application, vous pouvez multiplier le nombre de snaps pour "accélérer" le changement de couleur, ou le diviser pour ralentir le changement.
        </p>
        <h4>Résumé</h4>
        <p>
            La directive [ngStyle] permet d'appliquer des styles qui dépendent de valeurs dynamiques, comme un texte qui, plus il y a de snaps, devient de plus en plus vert.
            La directive [ngStyle] prend comme argument un objet où les clés correspondent aux styles CSS à modifier, et les valeurs aux valeurs que doivent prendre ces styles.
        </p>
        <h4>NgClass-01102022</h4>
        <p>La meilleure façon de modifier plusieurs styles en même temps est d'utiliser des classes CSS, surtout s'il s'agit d'un élément avec plusieurs enfants. Dans ce chapitre, vous allez modifier plusieurs styles des éléments de vos cards quand un utilisateur clique sur "Oh Snap!" avec la directive[ngClass].</p>
        <h5>Objectif</h5>
        <p>L'objectif de ce chapitre est de faire ressortir visuellement les FaceSnaps que l'utilisateur a "snapped". On pourra imaginer une classe snapped  qui viendra s'ajouter à la   div class="face-snap-card"  pour modifier quelques couleurs, par exemple. On ajoute cette classe dans  face-snap.component.scss.</p>
        <h5>implémentation</h5>
        <p>[ngClass] prend un objet en argument, comme  [ngStyle], mais dont le fonctionnement est différent :
            les clés sont les noms de classe CSS à appliquer ;
            les valeurs sont les conditions qui doivent être remplies pour que les classes correspondantes s'appliquent.</p>
            <h4>Résumé</h4>
            <p>La directive [ngClass] permet d'ajouter dynamiquement des classes à des éléments HTML.
                [ngClass] prend un objet en argument où les clés sont des noms de classe CSS, et les valeurs sont les conditions selon lesquelles les classes doivent être appliquées.</p>
            <h3>Résumé de la Parie 3</h3>
            <p>
                Vous avez découvert les directives : des classes qui permettent d'ajouter des comportements à des éléments HTML, ou même à des components.
                Vous avez implémenté des directives structurelles pour modifier la structure du document :
                1) *ngIf  pour ajouter un élément ou non au DOM selon une condition donnée ;
                2) *ngFor  pour ajouter autant d'éléments au DOM qu'il y a d'éléments dans un tableau.
                Vous avez utilisé des directives par attribut pour gérer dynamiquement les styles :
                3) [ngStyle]  pour paramétrer des styles selon des valeurs venant du TypeScript ;
                4) [ngClass]  pour ajouter et retirer des classes CSS selon une condition donnée. 
            </p>
        </div>
    </div>
    <div class="pipes">
            <h4>Pipes 0210202022 4ème partie</h4>
            <p>Un pipe est appliqué dans le HTML et va formater la valeur qu'on lui passe selon le pipe utilisé sans toucher à la donnée sous-jacente. </p>
            <h3>Trois pipes pour modifier les class</h3>
            <p>Il existe trois pipes fournis par Angular pour modifier la casse :
                LowerCasePipe : on affiche le texte en minuscules
                UpperCasePipe : on affiche le texte en majuscules
                TitleCasePipe : on affiche le texte avec une majuscule au début de chaque mot, avec le reste du mot en minuscules</p>
            <p>On applique un pipe à une chaîne de caractères affichée avec la string interpolation. On rajoute le caractère pipe | puis le nom du pipe.</p>
            <h4>Note</h4>
            <p>Je tiens à répéter que les pipes ne changent rien à la valeur des variables sous-jacentes. Les pipes existent uniquement pour modifier le formatage affiché d'une donnée : on ne peut pas les utiliser ailleurs que dans le template, et il est fortement déconseillé de les utiliser ailleurs que dans une string interpolation.</p>
            <h4>Resumé Pipes 1</h4>
            <p>Un pipe permet de formater l'affichage d'une donnée sans modifier la donnée sous-jacente.
            Angular fournit trois pipes pour modifier la casse affichée d'une chaîne de caractères : UpperCasePipe, LowerCasePipe, et TitleCasePipe pour les majuscules, les minuscules et le mélange type "titre".</p>
            <h3>Formatez les dates</h3>
            <p>Pour configurer un pipe, on ajoute deux-points  :  puis généralement une chaîne de caractères qui définit la configuration.</p>
            <p>Pour consulter toutes les possibilités de configuration personnalisée, ainsi que la liste complète de formats prédéfinis, consultez <a href="https://angular.io/api/common/DatePipe">la documentation DatePipe</a>.</p>
            <h4>Changez la locale par défaut</h4>
            <p>Pour changer la locale de votre application en français, il faudra ajouter quelques lignes dans votre fichier</p>
            <h3>Resumé 2 Date pipe</h3>
            <p>DatePipe permet de formater les dates, et sans configuration fournit un formatage par défaut.
            DatePipe fournit des configurations prédéfinies avec des noms comme  short,  longDate  ou  mediumTime
            DatePipe permet également de personnaliser totalement le format d'affichage des dates avec des chaînes de caractères qui encodent le format souhaité, par exemple  'à HH:mm, le d MMMM yyyy'</p>
            <h3>Pipes Chiffre 02102022</h3>
            <h5>le formatage des nombres selon les règles de locale de l'application</h5>
            <p>DecimalPipe – facilite l'affichage de nombres avec des chiffres après la virgule (qui met une virgule plutôt qu'un point, par exemple).
            PercentPipe – formate les chiffres en pourcentage.
            CurrencyPipe – permet d'afficher des nombres sous forme de monnaie très facilement.</p>
            <p>Sachez qu'il existe d'autres pipes qui seront importants dans la suite de votre apprentissage Angular – notamment le pipe async pour les Observables – que vous ne verrez pas dans ce cours d'introduction. Pour plus d'informations, vous pouvez vous référer à <a href="https://angular.io/api/common#pipes">la documentation Angular</a>.</p>
            <p>J'ai choisi un nombre à 8 chiffres avant la virgule et 2 chiffres après, pour vous montrer les différences de format selon les différents pipes. </p>
            <h4>Arrondire</h4>
            <p>On peut aussi demander à DecimalPipe d'arrondir pour l'affichage, par exemple à l'entier le plus proche :entre accolades 4346234.36 | number: '1.0-0'= La configuration signifie :
            au moins un chiffre pour les entiers ;
            minimum 0 chiffres après la virgule – maximum 0 chiffres (Angular arrondira donc à l'entier le plus proche).
            </p>
            <p>On peut aussi spécifier d'arrondir à un chiffre après la virgule en spécifiant un chiffre maximum après la virgule : entre accolades 4346234.36 | number: '1.0-1' </p>
            <h4>Note</h4>
            <p>Plus besoin de se prendre la tête avec la fonction  Math.round()  ! Angular peut afficher les nombres arrondis sans toucher à la donnée sous-jacente.</p>
            <h3>Percent Pipe</h3>
            <p>Pour transformer des nombres entre 0 et 1 en pourcentage (ex. : 0.4 = 40 %), il suffit d'utiliser PercentPipe : entre accolades 0.336 | percent, arrondi par défaut, </p>
            <p>PercentPipe arrondit par défaut les pourcentages à l'entier le plus proche. Vous pouvez cependant le configurer de la même manière que DecimalPipe :  entre accolades 0.336 | percent: '1.0-1' = En pourcentage avec un chiffre après la virgule </p>
            <h3>Currency Pipe</h3>
            <p>Quand les nombres dans votre application correspondent à des montants d'argent, CurrencyPipe facilite leur affichage. Si vous utilisez l'affichage par défaut : entre accolades: 344.36 | currency => En dollars</p>
            <p>Angular présume par défaut que vous parlez de dollars, et donc affiche votre montant en dollars selon les règles de la locale de l'application.
            Vous pouvez configurer la monnaie à afficher : entre accolades 344.36 | currency: 'EUR' => En euros, €</p>
            <p>Vous pouvez passer un deuxième argument qui permet d'afficher le code de la monnaie plutôt que son symbole. Pour passer un deuxième argument à un pipe, on remet un deux-points  :  et on passe le deuxième argument : entre accolades 344.36 | currency: 'EUR' : 'code' => En euros avec le code EUR</p>
            <h4>Résumé Pipes Chiffres</h4>
            <ul>
                <li>DecimalPipe (mot-clé  number ) vous permet d'afficher un nombre selon les règles de la locale de l'application.</li>
                <li>PercentPipe affiche un nombre entre 0 et 1 sous forme de pourcentage, arrondi par défaut à l'entier le plus proche.</li>
                <li>DecimalPipe et PercentPipe acceptent un argument de configuration sous la forme 'chiffresMinAvantVirgule.chiffresMinAprèsVirgule-chiffresMaxAprèsVirgule' ex. :  '1.0-1'</li>
                <li>CurrencyPipe facilite l'affichage des montants d'argent, et accepte plusieurs arguments de configuration séparés par des deux-points :</li>
            </ul>
            <h3>Résumé de la 4ème Partie</h3>
            <ul>
                <li>Vous avez découvert les pipes – des outils pour gérer le format d'affichage d'une donnée sans modifier la donnée elle-même.</li>
                <li>Vous avez changé la casse de vos chaînes de caractères avec UpperCasePipe, LowerCasePipe et TitleCasePipe.</li>
                <li>Vous avez modifié l'affichage de la date de création des FaceSnaps avec DatePipe, et vous avez vu les différentes manières de personnaliser l'affichage des dates en passant un argument de configuration à DatePipe.</li>
                <li>Vous avez manipulé le format d'affichage des nombres avec DecimalPipe, PercentPipe et CurrencyPipe.</li>
            </ul>
    </div>
    <div class="partie5">
        <h2>Partie 5</h2>
        <div class="ch1">
            <h2>chapitre 1</h2>
            <h3>components</h3>
            <p>Dans une application complète Angular, vous aurez des dizaines, voire des centaines de components différents. Ces components auront très souvent besoin d'accéder aux mêmes données. Il y aura des interactions courantes avec ces données, comme l'écriture, la modification et la suppression. L'application peut également avoir besoin d'interagir avec un serveur concernant ces données, pour la lecture et l'enregistrement.</p>
            <h3>Services</h3>
            <p>Pour mieux organiser votre code, pour éviter de répéter des blocs et pour toujours avoir des données à jour partout dans l'application, ce serait intéressant de pouvoir regrouper les données et leurs méthodes ensemble, de les centraliser. En Angular, cette centralisation se fait dans des services.</p>
            <h4>createDate face-snap-list: ng g c face-snap-list</h4>
            <p>Pour l'instant, AppComponent s'occupe de générer les FaceSnapComponents. Mais ce n'est pas un bon choix, surtout si vous voulez créer une structure plus complexe par la suite. Vous allez créer un nouveau component, FaceSnapListComponent, qui sera le parent de tous vos FaceSnapComponents.</p>
            <p>Ce nouveau component sera le parent des FaceSnapComponent : il a donc besoin du tableau qui se trouve actuellement dans AppComponent. Il faut aussi lui transplanter le template d'AppComponent.</p>
            <ul>
                <li>la logique qui gère la liste des FaceSnaps se trouve maintenant dans un component prévu pour;</li>
                <li>et AppComponent ne contient que ce qu'il faut pour afficher les éléments principaux de l'application.</li>
            </ul>
            <h4>Note</h4>
            <p>Dans une application Angular, AppComponent ne sert généralement qu'aux éléments structuraux principaux. Tout ce qui est plus "spécialisé" va dans un component à part.</p>
            <h4>Ajouter un header</h4>
            <p>Ajoutez tout de suite un nouvel élément principal, HeaderComponent : ng g c header</p>
            <h4>Ajouter header dans app.component.html</h4>
            <p>Pour afficher le header au-dessus de la liste de FaceSnap, il suffit de l'ajouter dans le template de AppComponent.</p>
            <h3>Créer un service pour gérer les FaceSnaps</h3>
            <p>Tout d'abord, une petite mise en garde sur les services : dans des applications plus complexes (la grande spécialité d'Angular), la gestion des données est un sujet beaucoup plus vaste. Ce que vous ferez dans ce cours sera donc simplifié par rapport à ce que vous rencontrerez par la suite. 
            Mais ne vous inquiétez pas ! Les techniques plus avancées sont une extension de ce que vous apprendrez dans ce cours.</p>
            <p>Vous allez maintenant créer un service qui va centraliser toutes les interactions avec les FaceSnaps, afin que tous les éventuels components de votre application dépendent des mêmes données.</p>
            <h4>Créer ce service manuellement</h4>
            <p>Dans le dossier  app, créez un dossier  services  et dedans un fichier  face-snaps.service.ts.
            Un service est une classe, et la façon la plus simple de déclarer une classe comme étant un service est d'utiliser le décorateur  @Injectable()  qui s'importe depuis  @angular/core  :</p>
            <h4>Note</h4>
            <p>L'objet de configuration qui spécifie  providedIn: 'root'  dit à Angular d'enregistrer ce service à la racine de l'application. Ce sera très souvent le cas pour vos services, car ça permet de s'assurer de n'avoir qu'une seule instance du service, partagée par tous les partis intéressés.</p>
            <p>Le premier élément que vous allez déporter dans votre service est le tableau des FaceSnaps. Il est important de savoir qu'un service n'a pas de méthode ngOnInit(), car les services ne sont pas instanciés de la même manière que les components. Il faudra donc déclarer et initialiser le tableau dans la même expression.</p>
            <h3>Injection du Service</h3>
            <p>Pour pouvoir utiliser un service dans un component, il faut utiliser <span style="color: blue;">le système d'injection de dépendances (dependency injection ou DI) </span> que vous fournit Angular. C'est très simple : <span style="color: red;">vous passez un argument du type du service au constructor du component</span>, et Angular vous mettra à disposition la bonne instance du service. </p>
            <h4>Rappel</h4>
            <p>Pour rappel, ajouter un modificateur d'accès comme  public  ou  private  à un argument du  constructor  crée une propriété avec ce nom-là dans la classe. Vous aurez donc accès au service via la propriété  faceSnapsService.</p>
            <h4>Note</h4>
            <p>On préfère généralement  private  pour les injections de service, car ça empêche le template du component d'y accéder directement. Donner au template accès aux injections serait un anti-pattern Angular – autrement dit, une approche plus que déconseillée, souvent pour des raisons qui ne sont pas flagrantes au premier abord.</p>
            <h4>Intialiser la propriété face-snap</h4>
            <p>Maintenant que vous avez accès au service, vous pouvez modifier l'initialisation de la propriété  faceSnaps du component pour y attribuer le tableau du service.</p>
            <h4>Partager les données</h4>
            <p>Et votre application refonctionne, sauf que maintenant elle utilise les données du service ! Ça veut dire qu'à l'avenir, vous pourriez récupérer ces données depuis un serveur, par exemple. Pour cela, il faut de la logique, des méthodes, donc dans le prochain chapitre, vous verrez comment partager des méthodes dans votre service.</p>
            <h4>Résumé du CH1</h4>
            <ul>
                <li>Les services permettent de centraliser les données et la logique pour les différents domaines de votre application.</li>
                <li>Créer un service est aussi simple qu'ajouter le décorateur  @Injectable()  à une classe.</li>
                <li>Pour injecter un service dans un component, ajoutez un argument au constructor du component qui a le type du service, par exemple <span style="color: rgb(119, 0, 255);">userService: UserService</span></li>
            </ul>
        </div>
        <div>
            <h2>chapitre 2</h2>
            <h3>introduction</h3>
            <p>Dans le chapitre précédent, vous avez créé un service qui contient tous vos FaceSnaps, et que vous utilisez dans FaceSnapListComponent.</p>
            <p>Cependant, dans une application totalement dynamique, on peut imaginer que ces FaceSnaps viendraient d'un serveur, ou d'une autre partie de l'application, et qu'il faudrait appeler une méthode pour les récupérer. D'ailleurs, toute modification d'un FaceSnap entraînerait également un appel au serveur.</p>
            <p>Il faudra donc centraliser toutes les interactions avec les FaceSnaps dans FaceSnapsService, et c'est exactement ce que vous allez faire maintenant !</p>
            <h4>Créer une méthode renvoie la liste de facesnaps</h4>
            <p>La première méthode que vous allez créer est  getAllFaceSnaps(). Cette méthode retournera, comme son nom l'indique, tous les FaceSnaps contenus dans le service.</p>
            <p>Même si le comportement n'est pas modifié pour l'instant, cette structure vous permettrait à terme de changer l'implémentation de  getAllFaceSnaps()  sans casser le reste de l'application.Ce genre d'architecture modulaire est l'un des gros points forts d'Angular.</p>
            <h3>Snap ! Ajouter le nombre dans la base de données</h3>
            <p>Maintenant pour quelque chose d'un peu plus complexe : le snap ! Pour l'instant, tout se passe à l'intérieur de FaceSnapComponent. Personne à l'extérieur du component ne sait que quelque chose a changé. Une vraie implémentation de cette fonctionnalité ferait certainement un appel au backend pour augmenter le nombre de  snaps  dans la base de données, donc, comme pour toutes les interactions, il faut la faire passer par le service.</p>
            <h4>Créer méthode pour snap ! Avant tout un id pour le FaceSnap</h4>
            <p>Pour l'instant, vous n'avez aucun moyen d'identifier un FaceSnap directement. Ajoutez dès maintenant une propriété obligatoire id de type number à votre modèle FaceSnap</p>
            <p>Et ajoutez un  id  différent à chacun des FaceSnaps dans votre service. Cet identifiant unique va vous permettre de snap un FaceSnap par son identifiant !</p>
            <p>Implémenteriez une méthode pour snap !</p>
            <ul>
                Cette méthode : 
                <li>cherche un FaceSnap par son id dans le tableau faceSnaps avec la fonction find();</li>
                <li>si le FaceSnap existe, on lui incrémente ses  snaps;</li>
                <li>sinon, on  throw  une erreur.</li>
            </ul>
            <p>Pour tester cette méthode, il faudra injecter FaceSnapsService dans FaceSnapComponent. Vous vous souvenez comment faire ?</p>
            <p>Voici ma proposition : on crée une méthode  getFaceSnapById()  qui s'occupe de récupérer le FaceSnap et de  throw  une erreur si on ne le trouve pas. Cela risque d'être une fonctionnalité très utile à plein d'endroits. On a deux options ensuite</p>
            <ul>
                <li>créer deux méthodes : une pour snap, une pour unsnap;</li>
                <li>créer une seule méthode à laquelle on passe un argument qui dit s'il s'agit d'un snap ou d'un unsnap. => les literal types.</li>
            </ul>
            <h4>Analyser le code</h4>
            <p>Cette méthode getFaceSnapById() retourne un FaceSnap si elle le trouve (d'où son type de retour), et  throw  une erreur sinon.</p>
            <p>Maintenant la partie fun : vous allez modifier l'empreinte de snapFaceSnapById() pour qu'elle accepte un deuxième argument qui permettra de choisir le snapType – un snap, ou un unsnap.</p>
            <p>Cette méthode utilise  getFaceSnapById() pour récupérer le FaceSnap, et si le deuxième argument est  'snap', rajoute un snap; sinon, elle enlève un snap.</p>
            <p>Cependant, on pourrait passer n'importe quelle chaîne de caractères à cette méthode. Afin de limiter les possibilités à des options sémantiques, on peut remplacer le type  string  par un literal type.</p>
            <p>Ainsi, vous ne pourrez passer que 'snap' ou 'unsnap' comme deuxième argument. Non seulement votre IDE vous préviendra si vous essayez de passer autre chose, mais l'autocomplétion et la documentation automatique faciliteront l'utilisation de cette méthode.</p>
            <h4>Résumé ch2</h4>
            <ul>
                <li>Centraliser les interactions dans un service sous forme de méthodes crée une structure plus modulaire, qui facilite la maintenance et les évolutions de votre application.</li>
                <li>Comme dans toute base de code, refactorisez pour éviter de répéter des blocs de code (le principe DRY : Don't Repeat Yourself).</li>
                <li>Les literal types permettent de créer rapidement des types personnalisés, souvent utilisés pour limiter les choix pour un argument de méthode, par exemple : fileType: 'image' | 'video'</li>
            </ul>
            <h4>Literal Types</h4>
            <p>Créer des types "limités" comme ça, sous forme de literal types, ce n'est pas limité aux chaînes de caractères ! Pour plus d'informations sur les literal types, n'hésitez pas à plonger <a href="https://www.typescriptlang.org/docs/handbook/2/everyday-types.html#literal-types">dans la documentation TypeScript</a>.</p>
        </div>
        <div>
            <h2>Chapitre 3 : Passez en SPA avec le routing</h2>
            <h4>SPA</h4>
            <p>Les Single Page Applications (ou SPA) sont de plus en plus courantes dans le monde du développement web moderne. Elles permettent une performance sans égale en enlevant le besoin d'une application de demander, recevoir, puis afficher une nouvelle page HTML à chaque changement d'URL. Angular vous permet avec le routing de créer ce genre d'application – à chaque URL correspondra un component, et Angular remplacera le component actif sans émettre de requête au serveur.</p>
            <p>Dans l'application Snapface, vous allez créer une landing page afin de découvrir le fonctionnement du routing ; puis, dans les prochains chapitres, vous ajouterez une autre route et d'autres fonctionnalités de routing pour créer une application plus complète !</p>
            <h4>un module de routing</h4>
            <p>D'abord, vous allez ajouter un module de routing à votre application. Dans le dossier  app, créez un fichier  app-routing.module.ts. Commencez par y déclarer une classe avec le décorateur @NgModule() :</p>
            <p>Au-dessus de la déclaration de classe, vous allez initialiser une constante appelée  routes, de type  Routes  (importé depuis  @angular/router) et qui contiendra un tableau.</p>
            <h4>Créer une route facesnaps</h4>
            <p>Ce tableau va lier les routes de votre application (les différentes URL) aux components correspondants. Créez dès maintenant une première route  facesnaps qui affichera le component FaceSnapListComponent.</p>
            <p>const routes: Routes = [
                entre accolades path: 'facesnaps', component: FaceSnapListComponent 
              ];</p>
            <p>Pour enregistrer ces routes dans votre application, il faut les passer au routeur en passant un objet de configuration au décorateur @NgModule()  de AppRoutingModule :</p>
            <p>@NgModule( entre accolades: 
                imports: [
                  RouterModule.forRoot(routes)
                ],
                exports: [
                  RouterModule
                ]
              )</p>
              <p>RouterModule est aussi importé depuis @angular/router.</p>
              <h4>Ajouter cette route dans appModule</h4>
              <p>Ici, vous dites à Angular que les routes de ce fichier seront les routes à la racine de votre application, et vous réexportez le routeur configuré. Pour l'utiliser, il faut ajouter votre module de routing aux imports de AppModule, le module principal de votre application :</p>
              <p>@NgModule(entre accolades
                // ...
                imports: [
                  BrowserModule,
                  AppRoutingModule
                ],
                // ...
              )
              export class AppModule </p>
              <h4>Afficher la route</h4>
              <p>Il ne reste plus qu'à dire à Angular où il faut afficher le component dicté par la route. Dans le template d'AppComponent, remplacez la balise entres les chevilles app-face-snap-list par une balise  router-outlet </p>
              <p>Comme ça, ce sera le routeur qui décidera quel component doit être affiché, et AppComponent qui décidera à quel niveau ce component sera ajouté. Dans ce cas, on a décidé que le AppHeader restera présent peu importe la route active, ce qui est plutôt réaliste : on pourrait même envisager d'y placer un menu de navigation pour l'application.</p>
              <h4>Affiche le componenet</h4>
              <p>À votre avis, pourquoi rien ne s'affiche ?
                Eh bien, c'est parce que vous n'avez pas spécifié de component pour la route "vide" ! Cependant, si vous allez à http://localhost:4200/facesnaps, vous retrouverez l'affichage précédent.</p>
                <h4>Landing Page</h4>
                <p>Si vous changez de route via la barre d'adresse de votre navigateur, une nouvelle requête est envoyée au serveur de développement, et l'application est totalement rechargée.
                <span style="color: blue;">Le but maintenant sera de créer une landing page</span> pour la route "vide", qui permette d'accéder à la route facesnaps.</p>
                <h4>Créer Landing Page</h4>
                <ul>
                    Je vais commencer par vous présenter l'objectif de cette partie du chapitre, pour que vous puissiez essayer de tout faire vous-même.
                    <li>
                        <ul>
                            Créer un component nommé LandingPageComponent :
                            <li>ce component peut être aussi simple ou complexe que vous le souhaitez ! </li>
                        </ul>
                    </li>
                    <li>L'associer à la route vide dans votre routing (indice : le path d'une route vide est le string vide).</li>
                </ul>
        </div>
        <div>
            <h2>Chapitre 4 : </h2>
        </div>
    </div>
</div>



