<!-- votre application est une arborescence de components avec AppComponent comme racine :
     c'est donc dans  app.component.html qu'on va venir ajouter le sélecteur de notre nouveau component comme balise HTML <app-face-snap></app-face-snap> -->
     <!-- On voit donc que le sélecteur d'un component crée une balise HTML personnalisée pour l'insertion du component dans l'application. -->

<app-header></app-header>
<router-outlet></router-outlet>
<!-- <app-my-fb [myFB]="myFirstFB"></app-my-fb> -->